*{
    margin: 0 auto;
    padding: 0 auto;
    color: white;
}
main{
border: #2b81ac;
background-color: #3399cc;
border-width: 2vh;
border-style: solid;
box-sizing:border-box ;
height: 100vh;

}
h1{
font-weight: 400;
padding:0 20% 0 20%;
margin-top: 2%;
margin-bottom: 3%;
}
ul{
text-align: center;
font-size: 0;
list-style: none;
box-sizing: border-box;
margin:0 20% 0 20%;
background-color: whitesmoke;
padding: 0;
border: white;
border-style: solid;
border-width: 0.1vh;
}
li{
display: inline-block;
box-sizing: border-box;
font-size: 20px;
border: white;
border-style: solid;
border-width: 0.2vh;
padding-bottom: 3%;
padding-top: 3%;
}
h2{
    font-size: xx-large;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: xx-large;
}
small{
    opacity: 80%;
}
footer{
    text-align: center;
    font-size: xx-large;
    margin-top: 5%;
}
#Buchach,#Austria{
    width: 50%;
    height: 25%;
}
#Kiev,#London,#Peru,#Scotland,#Swizeland,#Poland,#Belgium, #Czech{
    width: 25%;
    height: 25%;
}
#Latvia{
    width: 100%;
    height: 25%;
}
#Buchach{
    background-color:#3399CC;
}
#Kiev{
    background-color: #33CCCC;
}
#London{
    background-color: #996699;
}
#Peru{
    background-color: #C24747;
}
#Scotland{
    background-color: #E2674A;
}
#Swizeland{
background-color: #FFCC66;
}
#Poland{
    background-color: #99CC99;
}
#Belgium{
    background-color: #669999;
}
#Austria{
    background-color: #CC6699;
}
#Czech{
    background-color: #339966;
}
#Latvia{
    background-color: #666699;
}
ul:hover li{   
    opacity: 0.5;
  }
ul li:hover{
    opacity: 1;
  }
