*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "Miso";
    src: url(fonts/Miso.woff) 
}
 @font-face {
    font-family: "Lato";
    src: url(fonts/Lato-Light.ttf);
    font-weight: lighter;}
.wrap{
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 70px;
    color: #333333;
    background-color: #fdde7e;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.main-block{
    background-color: white;
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Miso", sans-serif;
    background-color: white;
    padding: 25px 0;
}
.price {
    color: #02995b;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
    
}
.smoke{
    background-repeat: no-repeat;
    width: 49px;
    height: 46px;
    margin-left: 30px;
    margin-bottom: 15px;
}
#bronze{
    background-image: url(images/smoke-bronze.png);
}
#silver{
    background-image: url(images/smoke-silver.png);
}
#gold{
    background-image: url(images/smoke-gold.png);
}
img{
    padding-left: 40px;
    padding-top: 15px;
}
.bronze-cup{
    background-image: url(images/cup-bronze.png);
    background-repeat: no-repeat;
    width: 135px;
    height: 135px;
}
.silver-cup{
    background-image: url(images/cup-silver.png);
    background-repeat: no-repeat;
    width: 135px;
    height: 135px;
}
.gold-cup{
    background-image: url(images/cup-gold.png);
    background-repeat: no-repeat;
    width: 135px;
    height: 135px;
}
h1{
    font-size: 56px;
    font-weight: 500;
}
.main-block > p {
    font-family: "Lato";
    font-weight: lighter;
    font-size: 20px;
    line-height: 26px;
    width: 160px;
    letter-spacing: 0.025rem;
    text-align: center;
  }
  
  
.main-block:hover {
    transform: scaleY(1.1);
  }
  