      
 .wrapper {
        width: 1120px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
      }
      
.big-block {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
      }
      
.icons-block {
        margin-top: 100px;
      }
      
.border {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 4px  #2a69a6 solid;
      
      }
      
.block-tittle {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        color: #000000;
        margin-top: 20px;
      }
      
.block-text {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: grey;
        width: 250px;
        margin-top: 20px;
      }
      
#phone {
background: #2a69a6 url(images/phone-white.png) no-repeat center;       
}
      
#phone:hover {
 background: #ffffff url(images/phone-blue.png) no-repeat center center;
      }
      
#settings {
background: #2a69a6 url(images/settings-white.png) no-repeat center center;
      }
      
#settings:hover {
background: #ffffff url(images/settings-blue.png) no-repeat center center;
      }
      
#speedometer {
background: #2a69a6 url(images/speedometer-white.png) no-repeat center center;
      }
      
#speedometer:hover {
background: #ffffff url(images/speedometer-blue.png) no-repeat center center;
      }
      
      